<?xml version="1.0" encoding="utf-8"?>
<!-- Rename this file to "api_keys.xml" and populate it with your own API keys -->

<resources>
    <string name="google_maps_api_key">YOUR_GOOGLE_MAPS_ANDROID_API_KEY</string>
</resources>